<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a routerLinkActive="active" routerLink="home" class="sidebar-link sidebar-link"
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Inicio</span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Administración</span></li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="unidad-inmobiliaria" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Unidad Inmobiliaria
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="areas-comunes" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Area Común
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="propietarios" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Propietario
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="servicios" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Servicio
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="personales" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Personal
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="mantenimiento" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Mantenimiento
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="agua" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Agua
                        </span>
                    </a>
                </li>
                <li class="sidebar-item"> 
                    <a class="sidebar-link sidebar-link" routerLink="proveedor" aria-expanded="false">
                        <i data-feather="sidebar" class="feather-icon"></i>
                        <span
                            class="hide-menu">Proveedor
                        </span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">PANEL</span></li>
                <li class="sidebar-item"> 
                    <a routerLink="/login" class="sidebar-link sidebar-link" aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i>
                        <span class="hide-menu btn btn-warning">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>