<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!--div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div-->
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
    ><!--style="background:url(src/assetsimages/big/auth-bg.jpg) no-repeat center center;">-->
        <div class="auth-box row">
            <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../../../assets/images/big/auth-bg.jpg);">
            </div>
            <div class="col-lg-5 col-md-7 bg-white">
                <div class="p-3">
                    <div class="text-center">
                        <!--<img src="src/assets/images/big/icon.png" alt="wrapkit">-->
                    </div>
                    <h2 class="mt-3 text-center">Iniciar Sesión</h2>
                    <p class="text-center text-dark">QUIPO</p>
                    <form (ngSubmit)="save()" [formGroup]="formulario" class="mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="usuario">Usuario</label>
                                    <input [class.is-invalid]="usuarioNoValido" class="form-control" formControlName="usuario" type="text"
                                        placeholder="Ingresa tu usuario" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="clave">Contraseña</label>
                                    <input [class.is-invalid]="claveNoValido" class="form-control" formControlName="clave" type="password"
                                        placeholder="Ingresa tu password" required>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-block btn-dark">Iniciar</button>
                            </div>
                            <div *ngIf="flatSession" class="alert text-danger">
                                <small>Usuario o Contraseña incorrecta</small>
                            </div>
                            <div class="col-lg-12 text-center mt-5">
                                No tengo cuenta? <a href="#" class="text-success">Registrarse</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
</div>