<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-md-10">
                        <form>
                            <div class="customize-input">
                                <input class="form-control custom-shadow border-0 bg-white"
                                    type="search" placeholder="Search" aria-label="Search">
                                <i class="form-control-icon" ></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary">Buscar</button>
                    </div>
                </div>
                <div class="row  pb-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-body" style="padding: 0.5rem;">
                                <h4 class="card-title">PASO 1
                                    <small class="card-subtitle"> (Descargar CSV)</small>
                                </h4>
                                <div>
                                    <fieldset class="form-group">
                                        <button (click)="downloadFile()" class="btn btn-primary">Descargar CSV</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <div class="card-body" style="padding: 0.5rem;">
                                <h4 class="card-title">PASO 2
                                    <small class="card-subtitle"> (Subir CSV)</small>
                                </h4>
                                <div>
                                    <fieldset class="form-group">
                                        <input (change)="addServicios($event)" type="file" class="form-control-file"
                                         accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                        >
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre Actividad</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servicio of servicios; index as i">
                                <td>{{i + 1}}</td>
                                <td>{{servicio.nombre}}</td>
                                <td>{{servicio.monto}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination float-right">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>